* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#06273a;
    font-family: "Cardo";
}
header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: x-large;
}
.bg{
    width: 100%;
    height: 100%;
    background-image: url("/pic/productpic/messageImage_1643955755291.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .75;
}
.contain{
    margin-top: 250px;
    text-align: center;
}
.contain img:hover{
  transition: transform .5s;
  transform: scale(1.5);
  
}
.contain img{
    margin: 30px;
    padding: 50px;
    background-color: #ddd3c6;
    border-radius: 20px;
}